---
// Henter parametrene fra Astro.props
const { href="#", target="_self", variant= "textlink", size = "inline" } = Astro.props; 

//Definer den styling (Tailwind classes, der gør sig gældende for alle knapper
const linkStyling = "text-black"; 

//Definer den styling (Tailwind classes), der gør sig gældende for de forskellige varianter 
const variantClasses = {
    "textlink": " underline text-black-500 hover:-translate-y-1 hover:scale-120 hover:text-indigo-500 duration-300 ",
    "primary": "inline-block rounded-md place-content-center h-10 transition ease-in-out delay-150 bg-blue-500 hover:-translate-y-1 hover:scale-110 hover:bg-indigo-500 duration-300 text-white p-2 border-2 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50",
    "secondary": "inline-block rounded-md place-content-center h-10 transition ease-in-out delay-150 bg-indigo-500 hover:-translate-y-1 hover:scale-110 hover:bg-orange-00 duration-300 text-white p-2 border-2 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50"
};

//Definer den styling (Tailwind classes), der gør sig gældende for de forskelligeog størrelser.
const sizeClasses = {
    "inline": "",
    "large": "p-6",
    "medium": "p-4",
    "small": "p-2"
};
---
<!--Sæt classes for den pågældende knap sammen ved hjælp af Astros class:list -->
<a href={href} target={target} class:list={[linkStyling, variantClasses[variant], sizeClasses[size]]}><slot /></a>